.loaderContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 80vh;
  .loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #13cd8c; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
