.landingMain {
  font-family: "Bricolage Grotesque";
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
  padding-bottom: 100px;
  background-image: linear-gradient(120deg, #151515, #080808 100%);
  .homeMain {
    width: 100%;
    display: flex;

    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transform-style: preserve-3d;

    .header {
      font-family: "Bricolage Grotesque";
      font-size: 3.5em;
      margin-top: 30px;
      background-clip: text; /* Clip the background to the text */
      -webkit-background-clip: text; /* For Safari/WebKit browsers */
      color: transparent; /* Hide the text color */
      animation: slide-in-left 1s ease-in;
      background-image: linear-gradient(
        to right,
        #00f5a0,
        #00d9f5
      ); /* Gradient colors and direction */
    }

    .subheader {
      text-align: center;
      font-family: "Bricolage Grotesque";
      font-size: 1.2em;
      padding: 20px;
      background-clip: text; /* Clip the background to the text */
      -webkit-background-clip: text;
      margin-top: -50px;
      color: transparent;
      animation: slide-in-bottom 1s ease-in;

      background-image: linear-gradient(to right, #00f5a0, #00d9f5);
    }
  }
}

.landingMainTransparent {
  background-image: linear-gradient(120deg, #151515, #080808 100%);
  font-family: "Bricolage Grotesque";
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
  padding-bottom: 100px;
  opacity: 0.4;
}

.userPrompt {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 0px;
  text-align: left;

  .userText {
    margin-left: 30%;
    font-size: 18px;
  }

  .userCredentials {
    background-color: rgb(56, 56, 56);
    width: 40px;
    height: 40px;
    display: flex;
    margin: 20px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Bricolage Grotesque";
    font-weight: 600;
    color: white;
  }
}

.systemPrompt {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  // background-color: rgb(26, 26, 26);
  .syntaxHighlighter {
    width: 100%;
  }
  .systemLogo {
    display: flex;
    margin: 0 15px;
    align-items: flex-start;
    border-radius: 5px;
  }
}

.fixed {
  position: fixed;
  bottom: 10px;
  width: 100%;
  font-family: "Bricolage Grotesque";
  .promtInputContainer {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    .promtInput {
      display: flex;
      padding: 20px;
      width: 75%;
      height: 65px;
      color: white;
      background-color: rgb(26, 26, 26);
      outline: 1px solid #212121;
      border-radius: 5px;
      font-size: 16px;
    }
    .sendButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      margin-left: -60px;
      gap: 10px;
      .send {
        background-color: #66c95b;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        color: white;
      }
    }
  }
}

.landingSuggestions {
  padding: 0px 30px;
  display: grid;
  width: 76%;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  .suggestionCard {
    border: 1px solid #4c4c4c;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 15px;
      color: whitesmoke;
    }
    .subtitle {
      font-size: 14px;
      color: rgb(135, 134, 134);
    }

    .sendBtn {
      display: none;
    }
  }

  .suggestionCard:hover {
    background-color: #1f1f1f;
    cursor: pointer;

    .sendBtn {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  .landingMain {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    font-family: "Bricolage Grotesque";

    padding: 0px;

    padding-bottom: 100px;
  }

  .userCredentials {
    background-color: rgb(11, 142, 81);
    width: 30px !important;
    height: 30px !important;
    display: flex;
    margin: 20px 20px !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Bricolage Grotesque";
    font-size: 15px;
  }

  .userPrompt {
    margin-top: 50px;
  }

  .systemPrompt {
    padding: 20px;
    margin-top: -10px;
  }

  .systemLogo {
    display: none !important;
  }

  .fixed {
    position: fixed;
    bottom: 10px;
    width: 100%;
    font-family: "Bricolage Grotesque";
    .promtInputContainer {
      display: flex;
      align-items: center;
      padding: 20px 30px;

      .promtInput {
        display: flex;
        padding: 20px;
        width: 100%;
        height: 65px;
        color: white;
        background-color: rgb(26, 26, 26);
        outline: 1px solid #212121;
        border-radius: 5px;
        font-size: 16px;
      }
      .sendButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin-left: -60px;
        gap: 10px;
        .send {
          background-color: #66c95b;
          padding: 10px;
          cursor: pointer;
          border-radius: 5px;
          color: white;
        }
      }
    }
  }

  .landingSuggestions {
    padding: 0px 30px;
    display: grid;
    width: 100%;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    .suggestionCard {
      border: 1px solid #4c4c4c;
      padding: 10px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 15px;
        color: whitesmoke;
      }
      .subtitle {
        font-size: 14px;
        color: rgb(135, 134, 134);
      }

      .sendBtn {
        display: none;
      }
    }

    .suggestionCard:hover {
      background-color: #1f1f1f;
      cursor: pointer;

      .sendBtn {
        display: block;
      }
    }
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(80%);
    opacity: 0.2;
  }
  to {
    transform: translateX(60%);
    opacity: 0.4;
  }
  to {
    transform: translateX(40%);
    opacity: 0.6;
  }
  to {
    transform: translateX(20%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
