.queryHistory {
  position: sticky;
  top: 20px;

  .queries {
    height: 60px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    margin-top: 0px;
    border-radius: 5px;
    cursor: pointer;
  }

  .selected {
    height: 60px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    margin-top: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #272727;
  }

  .queries:hover {
    background-color: #393939;
  }

  .queriesHighligted {
  }
}
