.landingPage {
  width: 100%;
  display: flex;
}

.queryHistory {
  font-family: "Bricolage Grotesque";
  width: 25%;
  min-height: 100vh;
  height: auto;
  background-color: rgb(26, 26, 26);

  padding: 20px;
}

.landingComponent {
  width: 75%;
  // margin-left: 300px;
}

@media (max-width: 480px) {
  .landingPage {
    width: 100%;
  }
  .queryHistory {
    display: none;
  }

  .landingComponent {
    width: 100%;
  }
}
